<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Assessment QA Engineer" parallel="tests">
    <test name="CheckoutSauce">
        <classes>
            <class name ="CheckoutRunner"></class>
            <class name ="LoginRunner"></class>
        </classes>
    </test>
</suite>